.form-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0 25px 0;
    width: 500px;
}
